@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body{
    background: #F1ECFA
}
.dark body {
  background-color: #777293
}
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

